= simple_form_for @record do |f|
  = f.collection_select(:artist_id, Artist.all, :id, :name, prompt: true)
  = f.input :name, label: 'Title'
  = f.file_field :avatar, label: "Upload cover"
  = f.submit 'Add Record'
  = link_to 'add artist', new_artist_path
