= simple_form_for @record do |f|
  = f.collection_select(:artist_id, Artist.all, :id, :name, prompt: true)
  = f.input :name, label: 'Title'
  = f.file_field :avatar, label: "Upload cover"
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 1' 
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 2'
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 3'
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 4'
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 5'
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 6'
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 7'
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 8'
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 9'
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 10'
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 11'
  = f.simple_fields_for :tracks do |t|
    = t.input :name, label: 'Track 12'
    = t.submit 'Add Record'
  = link_to 'add artist', new_artist_path

