.container
.ul
  .li 
    = @record.name
  .li
    = @record.artist.name
  .ul
  - @record.tracks.each do |track|
    .ul
      = track.name
  = link_to "edit", edit_record_path(@record)
  = button_to "Delete #{@record.name}", record_path(@record), method: :delete
